* {
  font-family: sans-serif,Arial;
  padding: 0px;
  margin: 0px;
  z-index: 100;
}

/*Header*/
header {
  position: fixed;
  /*line-height: 100px;*/
  top:0;
  left: 0;
  height: !important 100px ;
  width: 100%;
  text-align: center;
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
  opacity: 0.9;
  color: rgb(92, 92, 92);
  z-index: 2000;

}

.logo {
  width: 170px;
  height: 100%;
  text-align: left;
  padding: 18px;
  margin-left: 60px;
  box-sizing: border-box;
  float: left;
}

#A6Z {
  -webkit-filter:brightness(2);
  width: 66%;
  height: 66%;
}

.menu {
  margin-right: 50px;
  float: right;
}

header ul li {
  text-shadow: 1px 1px 3px rgba(125, 125, 125, 0.3);
  list-style: none;
  line-height: 60px;
  height: 100px;
  padding: 23px;
  font-size: 18px;
  box-sizing: border-box;
  float: left;

}

header ul li>a{
  color: rgb(75, 75, 75);
  transition: color 0.5s;
  transition: font-size 0.5s;
  text-decoration: none;
}

header ul li>a:hover{
  color: rgba(131, 192, 255, 0.8);
  font-size: 19px;
  text-decoration: none;
}

header ul li>a:active{
  color: rgba(189, 233, 255, 1);
  text-decoration: none;
}


/*content*/

/*section*/
section {
  top:0;
  height: 100vh;
  width: 100%;
  left: 0;
  box-sizing: border-box;
}

/*up*/

#Home_img {
  height: 80vh;
  text-align: center;
  margin-top: 130px;
  margin-bottom: -100px;
  position: absolute;
  display: block;
  z-index: 0;
}

#Big_img {
  right: 25%;
  position: absolute;
  display: none;
  z-index: 1;
}

#Big_img2 {
  right: 25%;
  position: absolute;
  display: none;
  z-index: 0;
}


/*down*/



#Home_maker {
  position: absolute;
  top: 100vh;
  height: 100vh;
  padding-bottom: 1000px;
  line-height: 77vh;
  text-align: center;
  /*left: 46;
  right: 46;*/
  z-index: 1000;
  background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.5)), url("../img/maker_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#Young {
  padding-left: 40%;
  -webkit-filter:grayscale(1);
}


/*footer*/
footer{
position: fixed;
width: 100%;
bottom: 0px;
left: 0;
/*background-color: rgba(255, 255, 255, 0.2);*/
height: 39px;
line-height: 39px;
z-index: 3000;
box-sizing: border-box;
}

.footer_text{
text-shadow: 2px 2px 5px rgb(150, 150, 150);
text-align: right;
padding-right: 20px;
font-size: 13px;
width: 100vw;
color: white;
box-sizing: border-box;
}
