* {
  font-family: "微軟正黑體","Microsoft JhengHei",sans-serif,Arial;
  padding: 0px;
  margin: 0px;
  z-index: 100;
}
/*Body*/
body{
}

/*Header*/
header {
position: fixed;
/*line-height: 100px;*/
top:0;
left: 0;
height: !important 100px ;
width: 100%;
text-align: center;
margin: auto;
background-color: rgba(255, 255, 255, 1);
opacity: 0.9;
color: rgb(92, 92, 92);
z-index: 1800;
}
.logo {
width: 170px;
height: 100%;
text-align: left;
padding: 18px;
margin-left: 60px;
box-sizing: border-box;
float: left;
}
#A6Z {
-webkit-filter:grayscale(0.65);
width: 66%;
height: 66%;
}
.menu {
margin-right: 50px;
float: right;
}
header ul li {
text-shadow: 1px 1px 3px rgba(125, 125, 125, 0.3);
list-style: none;
line-height: 60px;
height: 100px;
padding: 23px;
font-size: 18px;
box-sizing: border-box;
float: left;

}
header ul li>a{
color: rgb(75, 75, 75);
transition: color 0.5s;
transition: font-size 0.5s;
text-decoration: none;
}

header ul li>a:hover{
color: rgba(131, 192, 255, 0.8);
font-size: 19px;
text-decoration: none;
}
header ul li>a:active{
color: rgba(170, 255, 250, 1);
text-decoration: none;
}
.clear{
  clear:both;
}


.container {
  margin:0px;
  position: relative;
  position: fixed;
}

/*section*/
/*section {
  margin: auto;
  display: none;
}*/

#img_info{
  width: 852px;
  height: 529px;
  margin-top: 130px;
  margin-left: 342px;
  margin-right: auto;
  margin-bottom: 88px;
  position: relative;
  background:rgba(0, 114, 121, 0.71);
}
.info{
  float: left;
  /*display: inline;*/
  width: 372px;
  height: 529px;
  position: absolute;
  right: -50px;
}
.img_right{
   width: 372px;
  height: 529px;
  float: right;
  position: absolute;
  right: 0px;
  /*left: 0px;*/
}
.info_content{
  margin-top: 65px;
  color:white;
  background:rgba(0, 0, 0, .0);
}
.info_content h2{
  margin-bottom: 60px;
  font-size: 250%;
}
.info_content p{
  line-height:40px;
  font-size: 120%;
}

.img_size{
  width: 372px;
  height: 529px;
}
/*footer*/
footer{
position: fixed;
width: 100%;
bottom: 0px;
left: 0;
/*background-color: rgba(255, 255, 255, 0.2);*/
height: 39px;
line-height: 39px;
z-index: 3000;
box-sizing: border-box;
}

.footer_text{
text-shadow: 2px 2px 5px rgb(150, 150, 150);
text-align: right;
padding-right: 20px;
font-size: 13px;
width: 100vw;
color: white;
box-sizing: border-box;
}

.back{
  margin-top: 0px;
  position: absolute;
  left: 2px;
  bottom: 0px;
  text-align: center;
}
.back a:link {
  font-size: 22px;
  color:white;
  text-decoration:none;
  transition: font-size 0.5s;
}
.back a:visited{
  color: white;
  text-decoration: none;
}
.back a:hover{
  color:white;
  font-size: 24px;
}
.overlay{
  display:none;
  background:rgba(0, 0, 0, .50);
  color:#fff;
  position:absolute;
  width: 372px;
  height: 527px;
  margin-top: -530px;
  text-align: center;
/*  bottom:0;
  left:0;
  z-index:100;
  widows: 100%;
  padding:10px;
  box-sizing:border-box;
  pointer-events:none;
  fontweight: 100;*/
}

h2 {
  text-shadow: 2px 2px 1px rgba(116, 116, 116, 0.71);
  opacity: 0;
}

p {
  text-shadow: 2px 2px 1px rgba(116, 116, 116, 0.71);
  opacity: 0;
}

.back {
  color: rgb(195, 195, 195);
  text-shadow: 2px 2px 1px rgba(116, 116, 116, 0.71);
}

.overlay h3{
  margin-top:170px;
  font-size: 40px;
}
.overlay p{
  margin-top:70px;
}
